<h4>Individual Summary @ViewBag.Month-@ViewBag.Year</h4>
<div class="col-md-12 table-responsive">
    @Html.Action("IndividualSummaryTableSection")
</div>
<div class="col-md-12">
    <p class="pull-right input-sm"><i>Note: Quality Analysts are not included</i></p>
</div>
@Html.Action("IndividualSummaryChart")
@Html.Action("IndividualSummaryComment")