<div class="col-md-12">
    <div class="bs-callout bs-callout-primary">
        <p>Manager's Comment</p>
        <textarea id="individual_comment" rows="5" class="form-control input-sm" placeholder="Enter comment here..">@ViewBag.Comment</textarea>
        <br />
        <a class="btn btn-primary btn-sm" id="btn_save_individual"><i class="fa fa-save"></i> Save</a>
    </div>
</div>
<script>
    $(function () {
        $('#btn_save_individual').click(function () { 
            $.ajax({
                url: '/TeamScorecard/SaveIndividualSummaryComment/',
                data: '{ id : ' + @ViewBag.Id + ', comment : "' + $('#individual_comment').val() + '"}',
                dataType: "json",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    alert(data.message);
                },
                error: function (response) {
                    alert(response.responseText);
                },
                failure: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>