@{
    ViewBag.Title = "Not Authorized";
}
<div class="jumbotron">
    <h4>
        <i class="fa fa-warning"></i>&nbsp;No Access
    </h4>
    <h6>You are not authorized to access this page. Please contact site administrator.</h6>
</div>

