@{
    ViewBag.Title = "Page Not Found";
}
<div class="jumbotron">
    <h4>
        <i class="fa fa-warning"></i>&nbsp;Page Not Found
    </h4>
    <h6>Oops! You are trying to access a page that is not available.</h6>
</div>

