@{
    ViewBag.Title = "Error";
}
<div class="jumbotron">
    <h4>
        <i class="fa fa-warning"></i>&nbsp;Error
    </h4>
    <h6>Oops! Something went wrong. @ViewBag.Error.MessageType</h6>
    <h6>@ViewBag.Error.MessageDescription</h6>
</div>

