@{
    ViewBag.Title = "Dashboard";
}

<div class="container-fluid">
    <div class="alert alert-info">
        <span class="glyphicon glyphicon-info-sign"></span>&nbsp;Welcome to <strong>Operations Scorecard</strong>.
    </div>
</div>