@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Scorecard</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/Table.css" />
    <link rel="stylesheet" href="~/Content/Callout.css" />
    <script type="text/javascript" src="~/Scripts/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/Site.js"></script>
    <script type="text/javascript" src="~/Scripts/Chart.js"></script>
    <style>
        html, body {
            font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
        }
        /*scorecard cover*/
        .coverpage {
            background: url("../Images/ScorecardCover.png") no-repeat center center;
            height: 500px;
            margin-bottom: 20px;
        }

        .coverpage h4 {
            margin-left: 80px;
        }

        /*chart*/
        .chart-legend {
            -webkit-columns: 220px 3;
            -moz-columns: 220px 3;
            columns: 220px 3;
        }

        .chart-legend ul li {
            list-style: none;
        }

        .chart-legend ul li span {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                @Html.Action("ScorecardBase")
            </div>
        </div>
    </div>
</body>
</html>
