<div class="row">
    <div class="col-md-12">
        <table class="table coverbg table-bordered table-condensed table-striped input-sm">
            <thead>
                <tr>
                    <th>Column 1</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Column 1</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>